.has-bg-img {
  background: url('/hero-book-image.jpg') center center;
  background-size: cover;
}

.hero.is-huge {
  text-align: center;
  display: block;
}
.hero.is-huge .logo {
  width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 769px), print {
  .hero.is-huge {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .hero.is-huge .logo {
    width: 40%;
  }
}

.hero-title {
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  line-height: 1.125;
  word-break: break-word;
}

.is-white .title {
  background: #FFF;
}

.is-taupe {
  background: #F2EDE9;
}

.hero .title, .hero.is-white .title, .section .title {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #A52726;
  font-style: italic;
}

.navbar-spacer {
  height: 82px;
}

.navbar {
  padding: 0.5rem 2rem;
  border-bottom: 2px solid #F2F2F2;
}

.navbar-item, a.navbar-item:hover, a.navbar-item:visited, a.navbar-item:active, a.navbar-item:focus {
  background: #FFF;
  color: #A52726;
  font-family: 'Times New Roman', Times, serif;
}

.navbar-burger:hover {
  background: white;
}

.navbar-menu {
  box-shadow: none;
}

.underscore div {
  margin: 0 auto 50px auto;
  border-bottom: 2px solid #A52726;
  width: 80px;
}

.body-text {
  font-size: 1.5rem;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  color: #500000;
  line-height: 1.5;
  text-align: left;
}

.hero-body {
  max-width: 1100px;
  margin: auto;
}

.button, .button:hover, .button:active, .button:visited {
  height: auto;
  padding: 10px 24px;
  background-color: #A52726;
  color: #FFF;
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0;
  margin-top: 1rem;
  /* left: 50%; */
  display: inline-block;
}

.button:hover {
  background-color: #500000;
}

.contact-section h3.title {
  font-size: 1.5rem !important;
  text-transform: none !important;
}

.contact-section {
  font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
  font-size: 1rem;
  color: #500000;
}

.contact-section span {
  font-weight: bold;
  margin-right: 4px;
}

.map-container {
  width: 500px;
  height: 400px;
}

@media only screen and (max-width: 600px) {
  .map-container {
    width: 300px;
    height: 300px;
    margin: auto;
  }
}